/*// Base Styles //*/

html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	background-color: lightblue;
}

div.fixed {
	position: fixed;
	bottom:  10;
	right: 10;
	width: 150px;
	border:3px solid red;
}


.grass, .sky, .road{
		position: absolute;
}

.sky{
	height: 1%;
	background-color: lightblue;
}

.grass {
	height: 20%;
    box-sizing: border-box;
    border-top: 140px solid #1b7f01;
    border-bottom: 10px solid #1b7f01;
    width: 100%;
}

.road {
    height: 22%;
    box-sizing: border-box;
    border-top: 245px solid #000000;
    border-bottom: 10px solid #000000;
    width: 100%;
    position: fixed;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 8px;
    width: 100%;
    position: fixed;
    top: 94%;
}

.mario {
	position: absolute;
    top: 84%;
}
/*// Element to animate //*/




/*// Keyframes //*/








ul {
	display: list-item;
	list-style: none;
}

ul li {
	display: inline;
	padding: 25px;